<article class="[ featured-work ] [ dot-shadow panel ] [ bg-light-glare ]">
    <div class="[ wrapper ] [ flow ]">
        <div class="[ featured-work__inner ] [ flow ]">
            <div class="[ featured-work__intro ] [ flow flow-space-300 ]">
                <h2
                        class="[ featured-work__heading ] [ headline ] [ color-quinary-shade lg:measure-micro ]"
                        data-highlight="dark"
                >
                    {{ featuredWork.title }}
                </h2>
                <p class="[ featured-work__summary ] [ measure-compact ]">
                    {{ featuredWork.summary }}
                </p>
            </div>
            {% for item in collections.phone %}
                item is here mother fucker
                <h3>{{ item.data.id }} - {{ item.data.name }}</h3>
            {% endfor %}
        </div>
        <div class="[ featured-work__action ] [ flow-space-700 ]">
            <a href="/work/" class="button">See more work</a>
        </div>
    </div>
</article>